#BreakpointPanel {
	flex: 1;
	overflow-y: auto;
}

.BreakpointPanel__no-breakpoints {
	font-size: larger;
	justify-content: center;
	padding: .5em;
	text-align: center;
}

.BreakpointPanel__table {
	border-collapse: collapse;
	width: 100%;
}

.BreakpointPanel__table th {
	text-align: left;
}

.BreakpointPanel__table td {
	padding: 2px;
}
