.DisasmButtons {
	/* Matches with the Diasm max-height. */
	height: 25px;
}

.DisasmButtons__spacer {
	display: inline-block;
	width: 12px;
}

.DisasmButtons button {
	margin-right: 3px;
}

.DisasmButtons__thread--current {
	font-weight: bold;
}
