#RegPanel {
	width: 22ex;
}

#RegPanel dl {
	font-family: Consolas, monospace;
	line-height: 1.2em;
	margin-top: 2px;
	max-height: calc(1.2em * 35);
	overflow-y: auto;
	text-align: start;
}

#RegPanel dt {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 7ex;
}

#RegPanel dt::before {
	background: #e8efff;
	content: "";
	display: block;
	float: left;
	height: 1em;
	margin-right: 2px;
	width: 2ex;
}

#RegPanel dd {
	margin: 0;
	margin-left: 10ex;
	padding: 0;
}

.RegPanel__changed {
	color: red;
}
