#RegPanel {
	width: 22ex;
}

#RegPanel dl {
	font-family: Consolas, monospace;
	line-height: 0.8em;
	margin-top: 2px;
	height: calc(28em + 70px);
	overflow-y: auto;
	text-align: start;
}

#RegPanel dt {
	clear: both;
	cursor: default;
	float: left;
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
	width: 8ex;
}

#RegPanel dt::before {
	background: #e8efff;
	content: "";
	display: block;
	float: left;
	height: 10px;
	margin-left: 1px;
	margin-right: 2px;
	width: 14px;
}

#RegPanel dd {
	cursor: default;
	margin: 0;
	margin-bottom: 2px;
	margin-left: 16px;
	padding: 0;
	padding-left: 8ex;
}

.RegPanel__changed {
	color: red;
}
