.App {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
}

.App-logo {
	display: inline-block;
	height: 24px;
	margin-right: 5px;
	vertical-align: top;
}

.App-header {
	background: linear-gradient(135deg, #0d2d3b 0%,#163951 25%,#1c4261 53%,#27517c 89%,#27517c 89%,#234b72 100%);
	border-bottom: 2px solid #3999bd;
	color: white;
	height: 24px;
	padding: 8px;
	text-align: right;
}

.App-title {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.App-button {
	flex: 0;
}
