#CPU {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.CPU__main {
	display: flex;
	flex: 1;
	max-height: calc(80vh - 24px);
	min-height: 20em;
}

.CPU__sub {
	display: flex;
	flex: 1;
	max-height: calc(20vh - 24px);
	min-height: 5em;
}

.CPU__sub .react-tabs {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.CPU__sub .react-tabs__tab-panel--selected {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 0;
}

.CPU__pane {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
}

.CPU__paneClose {
	display: none;
}

@media only screen and (max-width: 700px) {
	.CPU__pane {
		background: #fff;
		display: none;
		position: absolute;
		z-index: 1;
	}

	.CPU__pane--open {
		display: flex;
		height: 80vh;
	}

	.CPU__paneClose {
		display: block;
	}
}
